body {
    font-family: sans-serif;
    background-color: rgb(243, 187, 187);
    color: black;
}

p {
    padding: 10px;
    text-align: left;
}

#title {
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}

#head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 200, 63);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 15px;
}

#content {
    font-family: cursive;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

#informations {
    margin-top: 30px;
    margin-bottom: 100px;
}

#me {
    width: 20%;
    padding: 10px;
    float: left;
}

#linkedin{
    margin-top: 10px;
    width: 5%;
    float: left;
    color: blue;
}

#footer {
    display:flex;
    justify-content: space-around;
    background-color: rgb(255, 200, 63);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.links {
    color: white;
    font-weight: bold;
}
