body {
    background-color: rgb(243, 187, 187);
    font-family: cursive;
    color: black;
}

p {
    padding: 10px;
    text-align: left;
}

#title {
    text-align: center;
    font-size: 25px;
}

#head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 200, 63);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 15px;
}

#informations {
    margin-top: 30px;
}
#me {
    width: 20%;
    padding: 10px;
    float: left;
}

#linkedin{
    margin-top: 10px;
    width: 5%;
    float: left;
}

#footer {
    display:flex;
    justify-content: space-around;
    background-color: rgb(255, 200, 63);
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.links {
    color: black;
    font-weight: bold;
}
