body {
    background-color: white;
}

#head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 200, 63);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 15px;
}

#footer {
    display:flex;
    justify-content: space-around;
    background-color: rgb(255, 200, 63);
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.links {
    color: black;
    font-weight: bold;
}