body {
    background-color: white;
    font-family: sans-serif;
}

p {
    text-align: left;
    padding:30px;
    margin-left: 0px;
    margin-right: 10px;
    color: black;
}

#title {
    text-align: center;
    color: black;
    font-size: 20px;
}

#head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 83, 69);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    padding: 5px;
}

#links_list{
    margin-left: 50px;
    color: black;
}

#footer {
    display:flex;
    justify-content: space-around;
    background-color: rgb(244, 83, 69);
    margin-top: 165px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.links {
    color: black;
    font-weight: bold;
}