body {
    font-family: cursive;
    color: black;
    background-color: rgb(253, 215, 117);
}

p{
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    text-align: center;
}
#head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 83, 69);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 15px;
}

#footer {
    display:flex;
    justify-content: space-around;
    background-color: rgb(244, 83, 69);
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.links {
    color: white;
    font-weight: bold;
}
