body {
    font-family: sans-serif;
    color: black;
    background-color: rgb(253, 215, 117);
}

p{
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}

#head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 83, 69);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 15px;
}

#content {
    background-color: white;
    font-family: cursive;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px;
}

#footer {
    display:flex;
    justify-content: space-around;
    background-color: rgb(244, 83, 69);
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.links {
    color: white;
    font-weight: bold;
}

.links_content {
    color: blue;
}